<style>
    div.k-listview {
        border-right: none;
        border-left: none;
    }

    .custom-notification-parent {
        position: relative;
    }

    .custom-notification-child {
        position: absolute;
        z-index: 10005;
        margin: 10px;
        margin-top: 5px;
    }
</style>

@using MultiChat.Shared.Messages
 
<TelerikCard Width="100%" Class="h-100 custom-notification-parent">
    <TelerikNotification Class="custom-notification-child"
                         VerticalPosition="NotificationVerticalPosition.Top"
                         @ref="@NotificationReference" />
    <CardBody Class="h-75 p-0">
        <div class="h-auto">
            <div>
                <TelerikButton Class="k-flat" Icon="copy" Title="Copy link" OnClick="@CopyInviteLink" Enabled="CanInvite" Primary="true">Invite</TelerikButton>
                <TelerikButton Class="k-float-right k-flat" Icon="clock" Enabled="false">@TimerDisplay</TelerikButton>
            </div>
        </div>
        <TelerikListView Data=@Messages
                         Height="95%">
            <Template>
                <div class="k-hbox px-3 py-1 @GetMessageClass(context.MessageType, context.UserPublicId)">
                    <div>
                        <div class="k-vbox">
                            @if (context.MessageType == SendMessage.MessageTypeEnum.User)
                            {
                                @if (context.PrevMessage == null || context.PrevMessage.UserPublicId != context.UserPublicId)
                                {
                                    <span class="@GetMessageClass(context.MessageType, context.UserPublicId)">
                                            <span class="comment-sender k-text-disabled" style="word-break: break-word; color: @context.UserColor;" >@context.UserName</span>
                                    </span>

                                }
                                <span class="comment-text rounded p-2" style="word-break: break-word">@context.Text</span>
                            }
                            else
                            {
                                <span class="comment-system k-text-disabled p-2" style="word-break: break-word">
                                    <span class="k-font-weight-bold" style="color: @context.UserColor;">@context.UserName</span><span class="k-ml-1">@context.Text</span>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </Template>
        </TelerikListView>
    </CardBody>
    <CardFooter Class="h-25">
        <span @onkeydown="@HandleEnterOnTextAreaPressed">
            <TelerikTextArea @bind-Value="@MessageInput"
                             Width="100%"
                             Class="mb-xs"
                             AutoSize="true"
                             Label="Enter message">
            </TelerikTextArea>
        </span>
        
        <div class="align-end">
            <TelerikButton Class="k-flat" Primary="true" Enabled="@IsSendBtnEnabled" OnClick="@Send">Send</TelerikButton>
        </div>
    </CardFooter>
</TelerikCard>

@code {
    string GetMessageClass(SendMessage.MessageTypeEnum messageType, Guid messageUserPublicId)
    {
        if (messageType == SendMessage.MessageTypeEnum.System)
            return "justify-center";
        return messageUserPublicId == UserPublicId ? "flex-end" : "justify-space-between";
    }
} 